---
---
:root{
  color-scheme: light dark;
  --main-saturated-blue: #023E82;
  --second-saturated-blue: #307BAE;
  --third-saturated-blue: rgb(43,128,119);
  --background-dark: #222222;
  --background-light: #eeeeee;

  --primary-color-light:#eeeeee;
  --primary-color-dark:#111111;
  --secondary-color-light:#DDDDDD;
  --secondary-color-dark:#222222;
  --tertiary-color-light:#d0d0d0;
  --tertiary-color-dark:#292929;
  --dropshadow-color-dark:#307BAE;
  --dropshadow-color-light:#023E82;
  --box-shadow-dark-color:#307BAE;
  --box-shadow-dark-border-color:#42b1fc40;
  --title-neon-color-dark:#42b1fc;
  /* --title-neon-color-light:; */
  --box-shadow-light-color:#023E82;
  /* --background-2nd-dark: #; */
  --font-primary-dark: #eeeeee;
  /* --font-secondary-dark: #; */
  --font-primary-light: #111111;
  /* --font-secondary-light: #; */

/* 
  --special-script-font:;
  --headings:;
  --sub-headings:;
  --body-copy:; */

}
@media (prefers-color-scheme: dark) {
  :root{
    --background: var(--background-dark);
    --background-2nd: var(--background-2nd-dark);
    --background-gradient-colors: var(--tertiary-color-dark), var( --secondary-color-dark);
    --box-shadow-color: var(--box-shadow-dark-color);
    --box-shadow: 0px 0px 15px -5px var(--box-shadow-dark-color);
    --box-shadow-border: 1px solid var(--box-shadow-dark-border-color);
    --box-shadow--border-inert: 1px solid #00000000;
    --primary-color: var(--primary-color-dark);
    --secondary-color: var(--secondary-color-dark);
    --dropshadow-stagnet:0px 0px 20px -15px var(--dropshadow-color-dark);
    --dropshadow-hover:0px 0px 30px -10px var(--dropshadow-color-dark);
    --font-primary: var(--font-primary-dark);
    --font-secondary: var(--font-secondary-dark);
    --neon-animation: neon-title 1.5s ease-in-out infinite alternate;
  }
    .favorites-width__wrapper:focus-within h2,.favorites-width__wrapper:hover h2 {
    -webkit-animation: var(--neon-animation);
    -moz-animation: var(--neon-animation);
    animation: var(--neon-animation);
  }
  .favorites-card__wrapper:focus-within , .favorites-card__wrapper:hover {
    box-shadow: var(--box-shadow);
    border: var(--box-shadow-border);
    
  }
  @-webkit-keyframes neon-title { from { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--title-neon-color-dark), 0 0 70px var(--title-neon-color-dark), 0 0 80px var(--title-neon-color-dark), 0 0 100px var(--title-neon-color-dark), 0 0 150px var(--title-neon-color-dark) } to { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px var(--title-neon-color-dark), 0 0 35px var(--title-neon-color-dark), 0 0 40px var(--title-neon-color-dark), 0 0 50px var(--title-neon-color-dark), 0 0 75px var(--title-neon-color-dark) }}
  @-moz-keyframes neon-title { from { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--title-neon-color-dark), 0 0 70px var(--title-neon-color-dark), 0 0 80px var(--title-neon-color-dark), 0 0 100px var(--title-neon-color-dark), 0 0 150px var(--title-neon-color-dark) } to { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px var(--title-neon-color-dark), 0 0 35px var(--title-neon-color-dark), 0 0 40px var(--title-neon-color-dark), 0 0 50px var(--title-neon-color-dark), 0 0 75px var(--title-neon-color-dark) }}
  @keyframes neon-title { from { text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--title-neon-color-dark), 0 0 70px var(--title-neon-color-dark), 0 0 80px var(--title-neon-color-dark), 0 0 100px var(--title-neon-color-dark), 0 0 150px var(--title-neon-color-dark) } to { text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px var(--title-neon-color-dark), 0 0 35px var(--title-neon-color-dark), 0 0 40px var(--title-neon-color-dark), 0 0 50px var(--title-neon-color-dark), 0 0 75px var(--title-neon-color-dark) }}
}
@media (prefers-color-scheme: light) {
  :root{
    --background: var(--background-light);
    --background-2nd: var(--background-2nd-light);
    --background-gradient-colors: var(--tertiary-color-light), var( --secondary-color-light);
    --box-shadow-color: var(--box-shadow-light);
    --box-shadow: -3px -3px 20px -15px var(--box-shadow-light-color);
    --primary-color: var(--primary-color-light);
    --secondary-color: var(--secondary-color-light);
    --dropshadow-stagnet:var();
    --dropshadow-hover:var();
    --font-primary: var(--font-primary-light);
    --font-secondary: var(--font-secondary-light);
  }
}
.bg--default{
  background: linear-gradient( 180deg, var(--background-gradient-colors));
}

pre code {
  background-color: var(--background);
  border: 1px solid #999;
  font-size: .85rem;
  display: block;
  padding: 20px;
}

/* dev styles */
/* site styles */
/* Backgrounds */
/* Fonts */
/* Footer */
/* Social Media */

/* Accessibility */
/* Bonus styles  */

/* rotating text */
/* media querry */
/* Work */
/* Split Page */

/* dev styles */
.dev--color-squares{
  width: 50px;
  height: 50px;
}

/* site styles */
.site-title{
  width:100%;
  font-size: clamp(2rem, 1.5rem + 6vw, 5rem);
  font-family:"Holland";
text-decoration:unset;
font-weight: bold;
color:rgb(208,235,255);
margin:1rem;
    color:rgb(208,235,255);
}
.site-title a{
  color:rgb(208,235,255);
  font-family:"Holland";
text-decoration:unset;
font-weight: bold;
font-size: 5rem;
filter: drop-shadow(5px 5px 10px #00000085);
transition: all .75s;
}
.site-title a:hover,.site-title a:focus{
  filter: drop-shadow(6px 6px 20px #00000099);
color:#ffffff;
}

/* Backgrounds */
.nav__gradient-bg{
  padding: 2rem 0 1rem 0;
  background:linear-gradient(207deg, #013D82, #155794);
  width: 100%;
  box-shadow: 5px 5px 10px hsla(0, 0%, 0%, 0.082);

}
.bg--pinstripe-blue{
  background: repeating-linear-gradient(0deg, rgba(23, 23, 23, 0.21) 0px, rgba(23, 23, 23, 0.21) 10px, rgba(131, 131, 131, 0.21) 10px, rgba(131, 131, 131, 0.21) 0px), repeating-linear-gradient(90deg, rgba(195, 195, 195, 0.16) 0px, rgba(195, 195, 195, 0.16) 15px, rgba(46, 46, 46, 0.16) 15px, rgba(46, 46, 46, 0.16) 20px), linear-gradient(90deg, rgb(9, 70, 219), rgb(0, 78, 126));
}
a{
  /* text-decoration: none;  */
  /* border-bottom:1px solid black; */
  color: #ffffff;
  /* transition: all .1s; */
}
a:hover, a:focus{
  /* text-decoration: none;  */
  /* border-bottom:1px solid rgb(43,128,119); */
}



/* Fonts */


@font-face {
  font-family: 'clockwise';
  src:url('/assets/fonts/clockwise.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'clockwise_bold';
  src:url('/assets/fonts/clockwise_bold.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'clockwise_bold_it';
  src:url('/assets/fonts/clockwise_bold_it.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'clockwise_borders';
  src:url('/assets/fonts/clockwise_borders.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'clockwise_it';
  src:url('/assets/fonts/clockwise_it.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'clockwise_thin';
  src:url('/assets/fonts/clockwise_thin.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'clockwise_thin_it';
  src:url('/assets/fonts/clockwise_thin_it.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Holland';
  src:url('/assets/fonts/Holland.woff');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Strange';
  src:url('/assets/fonts/strange.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Muliany';
  src:url('/assets/fonts/Muliany.woff');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}


/* 
---------

POST IT FONTS 

---------
*/

@font-face {
  font-family: "Ballsye";
  src:url('/assets/fonts/Ballsye.woff');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "BelpastU";
  src:url('/assets/fonts/Belpast Underlines.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Belpast";
  src:url('/assets/fonts/Belpast.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Dambuleff-Medium";
  src:url('/assets/fonts/Dambuleff-Medium.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Dambuleff-Regular";
  src:url('/assets/fonts/Dambuleff-Regular.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "MondayPicnic-Regular";
  src:url('/assets/fonts/MondayPicnic-Regular.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Norsanda";
  src:url('/assets/fonts/Norsanda.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Winland";
  src:url('/assets/fonts/Winland.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Arenosa-Regular";
  src:url('/assets/fonts/Arenosa-Regular.otf');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
}




/*  Footer  */

.footer__wrapper{
  display:grid;
  /* grid-template-columns: 3fr 5fr 3fr; */
  grid-template-columns: 1fr 1fr; 
  
  
}
footer a{
color: white;
font-size: 1.15rem;

}
footer p{
  color: #ffffff;
  font-size: 1.15rem;
}
.footer-details{
text-align: left;
align-self: center;
}
/* Social Media */

.dailyDev__wrapper{
  width: clamp(100px, 100% - 10vw, 300px);
  height: auto;
  margin: auto;
  padding: 1rem 0;
}
.dailyDev__wrapper img{
  width: 100%;
  /* margin: auto; */
}
.social-media{
  margin:auto;
  text-align: center; 
  color:white;
} 
.linkedin::before{
/* background-image: url(/assets/graphics/459-linkedin2.svg); */
} 
.social-media--icon{
  color: white;
  width: 20px;
  margin: auto 8px auto auto;
  height: auto;
  filter:invert(100%);
}

/* .site-title:after{
content:"☕";
font-size: 4rem;
} */

h1,h2,h3,h4,h5,h6,p,ul,li{
    color:#000000;
}
h1{
  font-size:clamp(1rem, 1.2rem + 1.5vw, 2.5rem);
text-align: center;
}
.page__h1{
  padding: 1rem 0;
}
h2{
  font-size:clamp(.95rem, 1rem + 1.5vw, 2.4rem);
}
h3{
  /* font-size:clamp(.85rem, .75rem + 1vw, 1.95rem); */
  font-size:clamp(.85rem, .95rem + 1.5vw, 2.25rem);
}
h4{
  font-size:clamp(.80rem, .85rem + 1vw, 1.7rem);
}
h5{
  font-size:clamp(.75rem, .75rem + 1vw, 1.5rem);
}
p, ul, li{
  font-size:clamp(.75rem, .1rem + 1vw, 1rem);
}
nav{
  width:100%;
    margin:1vw;
    align-self: center;
}
nav ul {
  margin:0;
  padding:0;
}
nav ul li{
   list-style-type: none;
}
body, html{
  height: calc(100% -8em);
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  /* 50% { */
    /* background-position: 100% 50%; */
  /* } */
  100% {
    /* background-position: 00% 50%; */
    background-position: 100% 50%;

  }
}
html{
font-size:clamp(1rem,62.5%,3rem);
/* animation: gradient 120s linear infinite; */
background: linear-gradient(180deg, rgb(71,153,195),rgb(208,235,255) ),url("/assets/gravel.png");
background-blend-mode: multiply;
scroll-behavior: smooth;
}
header{
padding:0 0 1rem 0;
grid-row: 1 / span 2;
grid-column: 1 / span 2;
align-self: start;
}
.width-teir-1{
  max-width:1800px;
  width:100%;
  /* margin: 1rem auto; */
  margin: 0 auto;
}
.width-teir-2{
  max-width:1500px;
  width:100%;
  margin: 0 auto;
}
.width-teir-3{
  max-width:1200px;
  width:100%;
  margin: 0 auto;
}
body{
  margin:0;
}
main{
  min-height:60vh;
}
footer{
  background: linear-gradient(180deg, rgb(0,60,129),  rgb(17,50,88));
  min-height:30vh;
}



.svg-polygon{
  grid-row:1 /span 2;
  grid-column:1/span 2;
width: clamp(1000px, 100vw, 100%);
height:clamp(500px, 100%,1000px);
}

.home-nav__wrapper{

    /* overflow: hidden; */
}
.header-text-align-clipping-mask{
  float:right;
  width:100vw;
  height:100vh;
  margin:0;
  /* shape-outside: content-box polygon(100% 0, 0 100%, 100% 100%); */
  shape-outside: content-box polygon(100% 9%, 100% 100%, 0 100%, 0 60%);
}
/* .triangle-css{ */
  /* width:100vw; */
  /* height:100vh; */
  /* background:linear-gradient(45deg, #4799C3, #4698C2, var(--second-saturated-blue), #1F649D, #115291, #074588, var(--main-saturated-blue), #003C81); */
  /* background:linear-gradient(45deg,  #4698C2, var(--second-saturated-blue), #1F649D, #115291, #074588, var(--main-saturated-blue), #003C81); */
  /* clip-path: polygon(0 0, 100% 0, 100% 9%, 0 60%); */
/* } */


.nav-bar{
  display: flex;
  width:100%;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  /* box-shadow: 0px 8px 8px #22222215; */
}
.nav-bar ul{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-evenly;
  width:100%;
  font-size:1.5rem;
  row-gap: 1rem;
  column-gap: 1vw;
}
.nav-bar ul li{
  display: inline-block;
}
.nav-bar ul li a{
  font-family:"BOOWIE";
  text-decoration:none;
  /* margin:auto; */
  /* text-align:center; */
  color:rgb(208,235,255);
}
.nav-button{
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background:var(--main-saturated-blue);
  border:1px solid var(--second-saturated-blue);
padding: .5rem;
border-radius: 5px;
min-width:100px;
text-align:center;
margin: auto;
transition: all .75s;
}
.nav-button a{
  font-size:1.5rem;
  padding:1rem;
}
.nav-button:hover,.nav-button:focus{
  border:1px solid rgb(208,235,255);
background:#115291;
-webkit-animation: neon6 1.5s ease-in-out infinite alternate;
-moz-animation: neon6 1.5s ease-in-out infinite alternate;
animation: neon6 1.5s ease-in-out infinite alternate;

}
@keyframes neon6 {
  from {
    box-shadow: 0 0 10px var(--second-saturated-blue), 0 0 20px var(--second-saturated-blue), 0 0 30px var(--main-saturated-blue), 0 0 40px var(--main-saturated-blue);
  }
  to {
    box-shadow: 0 0 5px var(--second-saturated-blue), 0 0 10px var(--second-saturated-blue), 0 0 15px var(--main-saturated-blue), 0 0 20px var(--main-saturated-blue);
  }

}



/* Accessibility */

a#skiplink, a#skiplink:hover, a#skiplink:visited{
  position: absolute;
  top:-500px;
  height: 1px;
  width: 1px;
  overflow: hidden;
  color: white;
  border-bottom-right-radius: 8px;
  background: transparent;
  -webkit-transition: top 1s ease-out, background 1s linear;
  transition: top 1s ease-out, background 1s linear;
  z-index: 100;
}

a#skiplink:active, a#skiplink:focus{
  position: absolute;
  font-size: 1.5rem;
  padding: 20px;
  top: 30px;
  height: auto;
  width: auto;
  background: linear-gradient(45deg, black, #222);
  webkit-transition: top .1s ease-in, background .5s linear;
  transition: top .1s ease-in, background .5s linear;
}

/* Bonus styles */

::selection {
  background: rgb(0,60,129);
  color:#ffffff;
}
::-moz-selection {
  background: rgb(0,60,129);
  color:#ffffff;
}
::-webkit-scrollbar{
  /* background: linear-gradient(90deg,rgb(0, 49, 105),rgb(0,60,129),rgb(0, 49, 105)); */
  background: linear-gradient(90deg,#92bed7,#7bb1cf);
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(90deg,rgb(43,128,119),rgb(59,142,161));
  border-radius: 15px;
}




p, a,ul,li{
  /* font-family:"clockwise_thin"; */
    /* font-family:"Strange"; */
font-family:"Arenosa-Regular";
  font-size: 1.25rem;
  /* line-height: 1.65rem; */
}

h1,h2,h3,h4,h5,h6,.special-paragraph,summary{
/* font-family:"Clockwise_thin"; */
/* font-family:"strange"; */
/* font-family:"Arenosa-Regular"; */
font-family:"BOOWIE";

}



.home-h2{
  font-size:clamp(1rem, .25rem + 2.5vw, 2rem);
  /* font-family: "clockwise_thin"; */
  /* font-family: "strange"; */
  /* font-family:"Arenosa-Regular"; */
  font-family:"BOOWIE";

  margin:1rem 0;
}
.svg-polygon img{
height:auto;
width: clamp(100vw, 2000px - 40vw, 300vw);
  }


  .cork-board{
    background:url('/assets/graphics/cork-board.png');
    background-repeat: repeat;
    padding: 2rem 1.5rem;
  }
  .cork-board section{
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 1fr 1fr 1fr; */
    justify-items: center;
    justify-content: space-evenly;
  }
.post-it{
/* font-family:"Smilicious"; */
  display: inline-block;
  background: #F3E779;
  padding: 1rem .5rem;
  width:clamp(300px, 20vw, 550px);
  height:clamp(300px, 20vw - 80px, 550px);
  margin: 1rem;
  box-shadow: 2px 3px 4px 1px #22222290;
}
.post-it h4{
font-size: 1.5rem;
/* font-family: ; */
}
.post-it p{
font-size: 1.25rem;
}
.post-it h4, .post-it p, .cork-board h3{
  /* font-family:"Norsanda"; */
  /* font-family:"Clockwise-thin"; */

  /* font-family:"Strange"; */
  /* font-family:"Muliany"; */

  /* font-family:"MondayPicnic-Regular"; */
  /* font-family:"Dambuleff-Regular"; meh */
}  
.tape{
  width: fit-content;
  backdrop-filter: blur(2px);
  padding: 1rem 1.25rem;
  background: #eeeeee10;
  filter: drop-shadow(1px 1px 1px #000000);
  box-shadow: 0.5px 0.5px 2px #55555550;
}
.cork-board h3 {
  /* width: fit-content; */
  /* backdrop-filter: blur(2px); */
  /* padding: 1rem 1.25rem; */
  /* background: #eeeeee10; */
  transform: rotate(-30deg);
  /* filter:drop-shadow(1px 1px #000000); */
  /* filter: drop-shadow(1px 1px 1px #000000); */
  /* box-shadow: 0.5px 0.5px 2px #55555550; */
  /* clip-path: polygon(100% 0, 95% 95%, 90% 95%, 100% 100%, 0% 100%, 5% 95%, 0% 0%); */
}

.gold-star{
  display: grid;
  width:325px;
  height: 315px;
  text-align: center;
  align-items: center;
  margin-top: -107px  ;
  /* width:50%; */
  /* height: 50%; */
  /* border-radius: 50%; */
  padding:1rem;
  background: linear-gradient(45deg,#E9C760,#D0A53C,#F5D975,#B37D11);
  clip-path: polygon(50% 0%, 66% 30%, 98% 35%, 74% 60%, 79% 91%, 50% 74%, 21% 91%, 27% 59%, 2% 35%, 35% 31%);
  /* box-shadow: 1px 1px 10px 1px #000000; */
}
.gold-star img{
/* width: 75%; */
/* margin: auto; */
/* justify-self: center; */
/* align-self: center; */
/* text-align: center; */
/* margin-top: 40%; */
}

a.gradient__button {
  display: inline-block;
  border-radius: 5px;
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0px;
  padding: 15px 25px;
  background-size: 250% 100% !important;
  background-position: 100% 0% !important;
}
a.gradient__button.green {
  background: -moz-linear-gradient(90deg,rgb(43,128,119),rgb(59,142,161));
  background: -webkit-linear-gradient(90deg,rgb(43,128,119),rgb(59,142,161));
  background: linear-gradient(90deg,rgb(43,128,119),rgb(59,142,161));
}
a.gradient__button:hover {
  background-position: 0% !important;
  box-shadow: 0 0px 5px rgba(175,175,175,.1);
  transition: all 0.3s ease;
  transform: translateY(-1px);
}
a.gradient__button:active {
  transform: translateY(0);
  background-position: 50% !important;
}
/* rotating text */
.rotating-text {
/* font-size: 3rem; */
}

.rotating-text p {
  display: inline-block;
  font-size:clamp(.75rem, .5rem + 2vw, 2rem);
  /* font-size: 3rem; */
  /* vertical-align: top; */
  /* margin: 0; */
}

.word {
  position: absolute;
  width: 320px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


/* Details and summary */
summary{
  padding: 1rem;
  background:linear-gradient(90deg,rgb(29,40,52), rgb(0,60,129));
  border-radius:15px;
  cursor: pointer;
  font-weight:bold;
  /* font-size:2.5rem; */
  font-size: clamp(.88rem, .5rem + 1.25vw, 2.5rem);
  color:#fff;
  transition: all .3s;
}
.detail__dates{
  float:none;
  display: block;
}
summary:hover,summary:focus{
  background:linear-gradient(90deg,rgb(11, 16, 20), rgb(9, 51, 99));
}
details[open] summary~ * {
  animation: sweep .5s ease-in-out;
}
@keyframes sweep {
  from{
    opacity: 0; margin-top: -10px;
  }
  to{
    opacity: 1; margin-top:0;
  }
}


details{
  border-radius:15px;
  font-size:1.5rem;
  color:#000;
  /* box-shadow: 1px 3px 20px #33333320; */
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  background: #ffffff25;
  margin:1rem 0;
}
.texture{
  background: linear-gradient(90deg, rgb(71,153,195),rgb(208,235,255)),url("/assets/gravel.png");
  margin:0;
  background-blend-mode:multiply;
  /* box-shadow: 1px 3px 20px #33333320; */
}
.resume-details__container{
  background:linear-gradient(90deg,rgba(255,255,255,.25), rgba(0,60,129,.7));
margin:0;
padding: 2rem;
}
.detail__wrapper{
  padding: 0 2rem 1rem 2rem;
}


/* training */
/* smashing color #d33a2c */

/* icon links */
.icon-links-background{
  background:#ffffff20;
  backdrop-filter:blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding:1rem;
  /* margin-top: clamp(-100vh, -40vh + 15vw, 0px); */
}
.icon-links-wrapper{
/* display:flex; */
flex-wrap: wrap;
justify-content: space-around;
}
.icon-links_link-container{

/* margin: auto; */
text-align:center;
/* background:#ffffff25; */
/* backdrop-filter: blur(8px); */
    /* box-shadow: 1px 3px 20px #33333320; */
    /* border-radius: 15px; */
    /* padding: 1rem clamp(1rem, .4rem + 3vw, 3rem); */
}
.icon-links_link-container h3{
font-size: clamp(20px, 3vw, 3rem);
line-height: 1rem;
margin: 2rem;
}
.icon-links_link-container a{
   text-decoration: none;
}
.icon-link_icon-container{
border-radius: 50%;
}
.icon-links_link-container div {
    background: radial-gradient(rgb(29,40,52), rgb(0,60,129));
    fill:white;
    padding: 3rem;
    border-radius: 50%;
    width: fit-content;
    width: -moz-fit-content;
    text-align: center;
    margin: auto;
}

.icon-links_link-container svg {
width: clamp(1rem, 1rem + 10vw, 17rem);
  }

/* CSS-BACKGROUNDS */
.background__padding{
  padding:2rem 2rem 5rem 2rem;
}
.backround__glass{
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  background: #ffffff25;
      /* border-radius: 15px; */
      /* padding: .5rem 0 3rem 0;  */
}
.background__diagonal{
background-color: #CAE7FC;
opacity: 0.4;
background-size: 20px 20px;
background-image: repeating-linear-gradient(45deg, #78B6D9 0, #78B6D9 2px, #CAE7FC 0, #CAE7FC 50%);
}
.background__wave{
background-color: #8AC1E130;
opacity: 1;
background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #8AC1E130 27px ), repeating-linear-gradient( #78B6D930, #78B6D930 );
}
.background__flanel{
  background-color:#d50000;
  background-image:
    repeating-linear-gradient(
      45deg,
      rgba(0,0,0,0.8),
      rgba(0,0,0,0.8) 100px,
      transparent 0px,
      transparent 200px
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5) 100px,
      transparent 0px,
      transparent 200px
    );
}
.background__polka--2{
background-color: #CAE7FC;
opacity: 0.4;
background-image:  radial-gradient(#78B6D9 1px, transparent 1px), radial-gradient(#78B6D9 1px, #CAE7FC 1px);
background-size: 40px 40px;
background-position: 0 0,20px 20px;
}



.profile__picture--wrapper img{
  border-radius: 50%;
  /* width: 30vw; */
width: clamp(175px,40vw,1000px);
  max-width: 500px;
  height: auto;
  background:linear-gradient(250deg, rgb(71,153,195),rgb(0,60,129));
  /* filter: drop-shadow(15px 15px 20px #00000095); */

}
p.rotating-text-font{ 
/* font-size: clamp(1rem, .75rem + 3vw, 3rem)!important; */
margin:0;
}
.rotating-text-font {
  /* font-size: clamp(1rem, .75rem + 3vw, 3rem); */
  margin: 0;
}
.word{
  /* font-size: clamp(1rem, .75rem + 3vw, 3rem); */
  
}
.splash-page-text__wrapper{

}
.splash-page-text__wrapper p, .splash-page-text__wrapper a {

}
.image-text__image-background{
background: linear-gradient(90deg, #000000, transparent),url(/assets/images/Reggie.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}

.image-text__image-background .width-teir-1{
margin: auto;}
.image-text__text-wrapper{
  /* padding: clamp(10px, .5rem + 5vw, 250px) 0; */
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  padding:3rem;
}

.image-text__text-wrapper h3,.image-text__text-wrapper h4,.image-text__text-wrapper h5,.image-text__text-wrapper p{
color:white;
}
.profile-content__container{
  display: grid;
  grid-template: 1fr / 1fr;
  justify-items: center;
  background: #ffffff30;
  backdrop-filter:blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 1px 3px 20px #33333320;
  margin: 2rem;
  padding: 3rem;
  border-radius: 15px;
}
.rotating-text-font{
  /* font-weight:bold; */
}
.icon-links-wrapper{
  display: block;
}
.icon-links_link-container {
  display: block;
}

  
/* Work */
  .work__title {
    color:#ffffff;
    transition: all 1s;
  font-size: clamp(.85rem, .95rem + 1.5vw, 2.25rem);
  font-family: "BOOWIE";
  line-height: clamp(.86rem, .96rem + 1.6vw, 2.5rem);
  }

  .work__title a:hover, .work__title a:focus{
    background:linear-gradient(to right, rgb(15, 90, 82), #013D82);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  
@media (prefers-reduced-motion: no-preference) {
  .work__article:hover, .work__article:focus-within {
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);

    transition: all 1s;
    box-shadow: 1px 1px 5px #11111120;
  }    
  .work-image img{
    transition: all 1s;
  }
.button{
  transition: all .5s;
}
abbr{
  text-decoration: unset;
}
.work__article:hover abbr, .work__article:focus-within abbr{
  text-decoration: underline dotted;
  text-decoration-color:rgb(39, 117, 109);
}
  .work__article:hover .work-list, .work__article:focus-within .work-list{
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: #ffffff40;
    padding: 0 10px;
  }
  .work__article:hover .work-image img, .work__article:focus-within .work-image img {
    filter: contrast(100%)brightness(60%);
   }
}
abbr{
  text-decoration-color:rgb(39, 117, 109) ;
}

.button{
  border: 1px solid #ffffff00;
  /* background-color: rgb(43,128,119); */
  font-size:clamp(13px, 13px + 1vw, 1.25rem);
  background: rgb(39, 117, 109);
  margin: 1rem 0;
  padding: .75rem 1rem;
}
a.button{
  text-decoration: none;
}
.button:hover, .button:focus{
  border: 1px solid #ffffff;
  background: unset;
}

/* Split Page */
.working-title{
  text-align: center;
  padding: 2rem 0;
  }
  .work-container{
  display: grid;
  grid-template-columns: 1fr 1fr; 
 grid-template-rows: 1fr 1fr;

  }
  .work-text--left{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    padding: 0 1rem;
  }
  .work-bullet--left{
    padding: 0 3rem;
    grid-column:1 / span 2;
    grid-row: 3 / span 1;
    /* align-self: start; */
  }
  .work-article-bg{
    background: #023E82;
    color: rgb(208,235,255);
    padding: 1.5rem 1rem;
    box-shadow: 1px 1px 5px 2px #001e3e40;
  }
  .work-text--right{
    text-align: right;
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    padding: 0 1rem;
  }
  .work-bullet--right{
    padding: 0 3rem;
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
  }
  .work-image--right{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    z-index: -1;
  }
  .work-image--left{
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  z-index: -1;
  }
  .work-image img{
    width:100%;
    height: auto;
    filter: contrast(55%)brightness(90%)
  }
  
  
  .work-list{
  list-style: none;
  gap: 0 1rem;
  padding: 0;
  margin: 0;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
  transition: all 1s;

  }
  .work-list--left{
  display: flex;
    flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  }
  .work-list--right{
  display: flex;
    flex-flow: wrap;
  justify-content: flex-end;
  align-items: center;
  
  }
  
  .work-list-item{
    display: inline-block;
    margin: .5rem 0;
  }
  
  .work__image-container{
    overflow: hidden;
    max-height: clamp(150px, 150px + 8vw, 350px);
  }
  .work__article{
    padding: 1rem;
    max-width: 100%;
   margin: auto;
  }




/* media querry */

@media screen and (max-width: 800px) {
  .flip-box .back, .flip-box .front {
  /* padding: clamp( 100px, 50px + 1vw, 200px) 0; */
  padding: 10vw 0;
  }
}

@media screen and (min-width: 800px) {
  .footer__wrapper{
    grid-template-columns: 3fr 5fr 3fr;
  }
  
  .work__title{
    color: #000000;
  }
  .detail__dates{
    float:right;
    display: inline-block;
  }
  .icon-links-wrapper{
    display:flex;
  }
  .icon-links_link-container {
    display: inline-block;
  }

  .nav-bar{
    flex-wrap:nowrap;
    justify-content:space-between;
  }
  h1{
    text-align: left;
  }
  .nav-bar ul{
    flex-wrap:nowrap;
  }
  
.splash-page-text__wrapper{
  background: #ffffff30;
  padding:clamp(.25rem, .1rem + 2vw, 2rem);
  backdrop-filter:blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 1px 3px 20px #33333320;
  border-radius: 15px;
  border: .5px solid #ffffff10;
  width: clamp(100px, 50vw, 650px);
  justify-self:left;
  margin: 0 clamp(.1rem, .5rem + 2vw, 3rem) 0 0;
  }
  .splash-page-text__wrapper p, .splash-page-text__wrapper a {
    /* font-size:clamp(.75rem, .1rem + 1vw, 1rem); */
  }
  
  

  .profile-content__container{
    display:grid;
    grid-template-columns: 4fr 5fr;
    align-items:center;
    grid-gap: clamp(1rem, 12vw - 3vh, 6rem);
  margin: clamp(1vw, 2rem + 6vw, 516px) 1rem 0 1rem;
  box-shadow: unset;
  backdrop-filter: unset;
  -webkit-backdrop-filter: unset;
  background:unset;
  padding:unset;
  }
  .profile__picture--wrapper img{
    filter: drop-shadow(15px 15px 20px #00183075);
    width: clamp(175px,30vw,1000px);
  }
    
  .profile__picture--wrapper {
    justify-self:right;
  }



  .work__article{
    max-width: 75vw;
  }
  .work-image img{
    filter: contrast(50%)brightness(110%);
  }
  .work-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    }
    .work-text--left{
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      padding: 0 1rem;
    }
    .work-bullet--left{
      padding: 0 3rem;
      grid-column:1 / span 2;
      grid-row: 3 / span 1;
      align-self: start;
    }
  
    .work-text--right{
      text-align: right;
      grid-column: 2 / span 2;
      grid-row: 1 / span 2;
      padding: 0 1rem;
    }
    .work-bullet--right{
      padding: 0 3rem;
      grid-column: 2 / span 2;
      grid-row: 3 / span 1;
      align-self: start;
    }
    .work-image--right{
      grid-column: 1 / span 2;
      grid-row: 1 / span 3;
      z-index: -1;
    }
    .work-image--left{
    grid-column: 2 / span 2;
    grid-row: 1 / span 3;
    z-index: -1;
    }

}
@media screen and (max-width:1200px) and (min-width: 800px) {

.icon-links-background{
  margin-top: clamp(-100vh, -40vh + 12vw, 0px);
}
}
.port-work-underconstruction{
  display: none!important;
}