@font-face {
  font-family: "heading";
  src: url("/assets/fonts/Southerner Slant.woff");
}

html {
  background-color: #D1E0CC;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-family: "heading";
  margin: 0;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2.25rem;
  line-height: 1.2em;
  margin: auto;
}

mark {
  color: #333333;
  background-color: #A7D136;
  font-weight: bold;
  padding: 1rem 3rem 0 .25rem;
}

main section {
  padding: 3rem;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.75rem;
  line-height: 1.2em;
  margin: auto;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.55rem;
  line-height: 1.2em;
  margin: auto;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.45rem;
  line-height: 1.2em;
  margin: auto;
}

h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.25rem;
  line-height: 1.2em;
  margin: auto;
}

ul {
  font-family: 'Raleway', sans-serif;
}

ol {
  font-family: 'Raleway', sans-serif;
}

li {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

a {
  font-family: 'Raleway', sans-serif;
  color: #A7D136;
}

a:hover, a:focus {
  color: #364510;
}

.skills_wrapper {
  display: grid;
  grid: repeat(2, 90px)/auto-flow 350px;
}
.skills_1-5 {
    text-align: center;
}
.skils_wrapper>.skills_1-5 {
  width: 250px;
  height: 50px;
}

.content-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  min-height: 75vh;
  display: flow-root;
  padding: 30px;
  background-color: #ffffff;
}

header {
  width: 100%;
  background-color: #333333;
}

footer {
  width: 100%;
  background-color: #0E2522;
  color: #D1E0CC;
  display: inline-block;
}

footer section {
  width: 29%;
}

.site-header-frame {
  margin-left: auto;
  margin-right: auto;
  max-width: 1500px;
  display: flow-root;
}

nav {
  margin-left: 2rem;
  margin-right: 2rem;
}

nav a {
  text-decoration: none;
  padding: 1rem
}

nav a:hover, nav a:focus {
  text-decoration: underline;
  background-color: #A7D136;
}

.logo svg {
  margin: 0;
  padding: 1rem;
  width: 5%;
  float: left;
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

a svg:hover, a svg:focus {
  background-color: #A7D136;
}

a svg:hover #turtonic-svg, a svg:focus #turtonic-svg {
  fill: #364510;
}

.nav-grid {
  float: right;
  display: grid;
  grid-template-columns: auto auto /*auto*/;
  grid-gap: 2rem;
}

nav ul li {
  font-size: 1.25rem;
  font-family: 'Raleway', sans-serif;
  list-style-type: none;
  text-align: center;
}

.home-sub-title {
  padding: 4rem 3rem 4rem 3rem;
  font-size: 2.2rem;
  color: #A7D136;
  /* background-color: rgba(0, 0, 0, .8); */
  text-align: center;
  font-family: 'Raleway', sans-serif;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-top: 5px solid;
  border-bottom: 5px solid;
  border-image-source: linear-gradient(45deg, #86B360, #A7D136);
  border-image-slice: 1;
}

.hero-img-container img {
  -webkit-filter: saturate(90%) brightness(35%);
  filter: saturate(90%) brightness(35%);
  width: 100%;
  height: auto;
  max-height: 1000px;
}

.hero-img-container {
  position: relative;
}

.potato {
  background-color: #333333
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

.home-h1 {
  color: #86B360;
  padding: 3rem 3rem 0rem 3rem;
  font-size: 5rem;
  text-align: center;
  font-family: 'heading';
  text-shadow: 2px 2px #2f411f;
}
@media screen and (max-width:1450px) {
.home-h1{
  font-size: 4rem;
}
.home-sub-title {
    padding: 3rem 2rem 3rem 2rem;
    font-size: 2rem;
  }
}
@media screen and (max-width:1350px) {
.logo svg{
      width: 6%;
}
}
@media screen and (max-width:1201px) {
.home-h1{
  font-size: 3rem;
    padding: 2rem 2rem 0rem 2rem;
}
.home-sub-title {
  padding: 1rem 2rem 1rem 2rem;
  color:#a7d136;
  background-color:unset;
    font-size: 2rem;
    border: none;
border-image-source: none;
border-image-slice: unset;
  }
  .hero-text{
    width:75%;
  }
  .skills_wrapper {
    grid: repeat(2,120px)/300px 300px;
    width: 80%;
    margin: auto;
}
.skills_wrapper svg {
    width: 35px;
}
}
@media screen and (max-width:750px) {
.skills_wrapper {
  grid: auto/300px;
  width: 50%;
  margin: auto;
  grid-gap:13px;
}
.home-h1 {
    font-size: 2.25rem;
    /* padding: 2rem 2rem 0rem 2rem; */
}
.home-sub-title {
    padding: 1rem 1rem 1rem 1rem;
    font-size: 1.65rem;
}
}
@media screen and (max-width:520px) {
  .skills_wrapper {
      width: unset;
  }
.home-h1 {
    font-size: 1.5rem;
    /* padding: 2rem 2rem 0rem 2rem; */
}
.home-sub-title {
    padding: 0rem;
    font-size: 1rem;
}
}
.italic {
  font-style: italic;
}

main section h3 {
  display: inline-block;
}

.resume_title-workPlace {
  width: 75%;
  display: inline-block;
}

.resume_sub-info {
  font-size: 1.25rem;
}

.resume_date {
  /* float: right; */
  margin: 0 0 0 60px;
}
.resume_title-date{
  margin: 0 0 0 60px;
}

.logo-gallery {
  width: 100%;
}

.logo-gallery svg {
  width: 100px;
  padding: 15px;
  display: inline-block;
}

.image-gallery-container {
  display: grid;
  grid: auto / 25% 25% 25% 25%;
      grid-gap: 0;
      margin: auto;
      width: 80%;
      align-items: stretch;
justify-content: stretch;
}
h1#work {
    font-size: 2rem;
}
h2{
  margin:20px 0px 10px 0px;
}
.video-wrapper{
  /* width:80%; */
}
@media screen and (max-width:1501px) {
  .image-gallery-container {
    grid: auto / 33% 33% 33%;

  }
}
@media screen and (max-width:1230px) {
  .image-gallery-container {
    grid: auto / 50% 50%;

  }
  .image-link:hover p, .image-link:focus p {
    min-width: 400px!important;
    max-width: 400px!important;
    margin: 350px auto 0 auto!important;
}
}
@media screen and (max-width:1100px) {
  .image-link:hover p, .image-link:focus p {
    min-width: 300px!important;
    max-width: 300px!important;
    margin: 225px auto 0 auto!important;
}

}
@media screen and (max-width:930px) {
.content-width{
      padding: 30px 0;
}
  .image-gallery-container {
    grid: auto / 100%;
    grid-gap: 50px 0;
}
a#gallery-image {
    display: unset!important;
    /* width:unset!important; */
  }
.image-link p{
  display: inline-block!important;
    width: inherit;
    position: unset;
    padding: 10px 0px!important;
    margin: 0px!important;
    font-size: 1.5rem;
    text-align:center;
}
.image-link img{
  padding: 0 0 10px 0;
  -webkit-filter:grayscale(100%) blur(0px) !important;
  filter:grayscale(100%) blur(0px) !important;
}
/* .image-link p{
  display:inherit;
} */
  .image-link:hover p, .image-link:focus p {
    min-width: none!important;
    max-width: none!important;
    margin: 10px auto 0 auto!important;
    display: inline-block!important;
      width: inherit!important;
      position: unset!important;
      padding: 10px 0px!important;
      margin: 0px!important;
}
.image-gallery-thumb-wrapper{
      background-color: #333333;
}

.image-gallery-container {
    width: 100%;
    padding:0;
}
}
a#gallery-image {
  display: grid;
  background-color: #333333;
  font-size: 1.2rem;
  color: #A7D136;
  width:100%;
}

.image-link a:visited {
  color: #A7D136;
}
.construction{
  font-size:1.25rem;
  background-color: #e0aa35;
  padding:20px;
  color:#000000;
}
.embed-container{
    margin-bottom: 30px;
  }
.image-gallery-thumb-wrapper {
  margin: 0;
  padding: 0;
  /* height: 300px; */
  /* text-align: center; */
}

.image-link p {
  display: none;
}

.image-link img {
  -webkit-filter: grayscale(100%) blur(1.5px);
  filter: grayscale(100%) blur(1.5px);
  width:100%;
  height:auto;
}

.image-link:hover img, .image-link:focus img {
  -webkit-filter: grayscale(0%) blur(0px);
  filter: grayscale(0%) blur(0px);
}

.image-link:hover p, .image-link:focus p {
  position: absolute;
  background: #333333;
  display: inline-block;
  min-width: 300px;
  max-width: 300px;
  padding: 18px 0 3px 0px;
  margin: 225px auto 0 auto;
}

.primary-color-button {
  background-color: #86B360;
  color: #1a1a1a;
  width: 175px;
  text-align: center;
  padding: 15px;
  border:1px solid #333333;
  font-weight: 600;
}
.primary-color-button a{
  color: #1a1a1a;
}
a.primary-color-button:hover, a.primary-color-button:focus {
  background-color: #333333;
  color: #86B360;
}
/* .primary-color-button a:hover, .primary-color-button a:focus{
  color: #86B360;
} */
a.primary-color-button:hover a, a.primary-color-button:focus a{
  color: #86B360;
}
.secondary-color-button {
  background-color: #101913;
  color: #cbddd1;
}

.tertiary-color-button {
  background-color: #318277;
  color: #071311;
}
