html{
  padding-top: 30px;
  background-color:#214200;
  /* filter:brightness(80%); */
}
@font-face {
  font-family: Mon;
  src: url(Montserrat-SemiBold.ttf);
}
a{
  color:#214200;
}
a:hover, a:active{
  color:#ffffff;
  background-color:#214200;
}
input{
  font-family: Mon;
}

textarea {
    background: #c0ffee;
    font-family: Mon;
}
select#pet {
    color: #214200;
    font-family: Mon;
  }
body{
  text-align:center;
  margin:0;
  width: 70%;
  background-color:#e7efde;
  margin-left: auto;
margin-right: auto;
min-height: 300px;
}
:root {
  font-size: 20px;
}
h1, h2, h3, h4, h5, h6, p, li, a, label, legend{
  font-family: Mon;
}
h1, h2, h3, h4, h5, h6, p {
  color:#331a00;
}
ul{
    list-style-type: none;
}
h1{
  font-size:2rem;
}

header{
  padding: .3rem .5rem .7rem .5rem;
}
footer{
  padding: .3rem .5rem .7rem .5rem;
}
article{
  min-height: 300px;
  padding: .3rem .5rem .7rem 1rem;
}
