<!-- <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275.84 275.84">
    <defs>
        <style>
            .cls-1 {
                fill: #333333;
            }
        </style>
    </defs>
    <title>E4</title>
    <rect class="cls-1" x="0.5" y="0.5" width="90.76" height="274.84" />
    <rect class="cls-1" x="115.54" y="0.5" width="159.8" height="75.48" />
    <rect class="cls-1" x="115.54" y="199.37" width="159.8" height="75.48" />
    <rect class="cls-1" x="115.54" y="100.18" width="159.8" height="75.48" />
</svg> -->

<div class="logo-gallery">
<svg id="E4-1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275.84 275.84">
    <defs>
        <style>
            .cls-1 {
              /* stroke: #333333; */
              /* stroke-miterlimit: 10; */
              fill: #8AC440;
            }
          .logo-gallery{
            width: 100px;
          }
        </style>
    </defs>
    <title>E4</title>
    <rect class="cls-1" x="0.5" y="0.5" width="90.76" height="274.84" />
    <rect class="cls-1" x="115.54" y="0.5" width="159.8" height="75.48" />
    <rect class="cls-1" x="115.54" y="199.37" width="159.8" height="75.48" />
    <rect class="cls-1" x="115.54" y="100.18" width="159.8" height="75.48" />
</svg>
  <svg id="E4-2" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275.84 275.84">
    <defs>
        <style>
            .cls-2 {
                fill: #F9D12E;
            }
        </style>
    </defs>
    <title>E4</title>
    <rect class="cls-2" x="0.5" y="0.5" width="90.76" height="274.84" />
    <rect class="cls-2" x="115.54" y="0.5" width="159.8" height="75.48" />
    <rect class="cls-2" x="115.54" y="199.37" width="159.8" height="75.48" />
    <rect class="cls-2" x="115.54" y="100.18" width="159.8" height="75.48" />
</svg>
    <svg id="E4-3" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275.84 275.84">
    <defs>
        <style>
            .cls-3 {
                fill: #EF3E23;
            }
        </style>
    </defs>
    <title>E4</title>
    <rect class="cls-3" x="0.5" y="0.5" width="90.76" height="274.84" />
    <rect class="cls-3" x="115.54" y="0.5" width="159.8" height="75.48" />
    <rect class="cls-3" x="115.54" y="199.37" width="159.8" height="75.48" />
    <rect class="cls-3" x="115.54" y="100.18" width="159.8" height="75.48" />
</svg>
      <svg id="E4-4" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275.84 275.84">
    <defs>
        <style>
            .cls-4 {
                fill: #00B5B9;
            }
        </style>
    </defs>
    <title>E4</title>
    <rect class="cls-4" x="0.5" y="0.5" width="90.76" height="274.84" />
    <rect class="cls-4" x="115.54" y="0.5" width="159.8" height="75.48" />
    <rect class="cls-4" x="115.54" y="199.37" width="159.8" height="75.48" />
    <rect class="cls-4" x="115.54" y="100.18" width="159.8" height="75.48" />
</svg>
</div>
